<div class="wrapper">
    <!-- Header -->
    <h3 class="border-bottom border-dark pb-2">Project List</h3>

    <section class="border rounded p-3 mt-4">
        <div class="d-flex justify-content-end border-bottom">
            <button class="btn btn-primary text-white mb-3" routerLink="project-form">+ Add Project</button>
        </div>
        <table class="table table-bordered mb-0 mt-3">
            <thead>
                <tr>
                    <th scope="col" class="text-center">#</th>
                    <th scope="col">Project</th>
                    <th scope="col">Date Started</th>
                    <th scope="col">Due Date</th>
                    <th scope="col">Status</th>
                    <th scope="col" class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row" class="text-center">1</th>
                    <div class="d-flex flex-column">
                        <td class="fw-bold">sad</td>
                        <td class="small fst-italic">hdvjgh</td>
                    </div>
                    <td>fhf</td>
                    <td>gfhfh</td>
                    <td>gfhfh</td>
                    <td class="text-center">
                        <span class="icon-edit pe-3"></span>
                        <span class="icon-delete pe-3"></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</div>