.border-sm-end {
    @include media-breakpoint-down(sm) {
        border-right: none !important;
    }
}

.delete-popoup {
    @include media-breakpoint-down(sm) {
        padding: 1rem 0.5rem;
        margin: 1rem;
    }
}

.eye-icon {
    @include position(absolute, 2.1rem, 0.6rem)
}

.wrapper-content{
    height: auto;
    @media (min-width:576px){
       overflow: hidden;
    }
}

.dropdown-list {
    overflow: hidden;
}