.sidebar {
    width: $sidebar-width;
    background-color: $sidebar-background;

    .user-header {
        font-size: 1.6rem;
        border-bottom: $border-size solid $white;
    }

    .user-email{
        font-size: 0.7rem;
    }
}

.nav {
    white-space: nowrap;
    border-top: $border-size solid $white;

    &-link {
        cursor: pointer;
      &.active {
       background-color:$hover-background-colour
      }
      &:hover {
        background-color: $hover-background-colour;
        font-weight: bold;
      }
    }
}