.sidebar {
    width: $sidebar-width;
    background-color: $secondary;
    transition: 0.4s all ease;

    // @include media-breakpoint-down(xl) {
    //     position: absolute;
    //     z-index: 99;
    //     width: 100%;
    // }

    .user-email {
        font-size: 0.7rem;
    }
}

.nav {
    border-top: $border-size solid $white;

    &-link {
        &.active {
            background-color: $primary;
        }

        &:hover {
            background-color: $primary;
            font-weight: bold;
        }
    }
}

#menu:checked {
    ~.sidebar {
        width: 50px;
    }
}

#users {
    ~.sub-items {
        height: 0px;
        transition: 0.4s all ease-in-out;
    }
}