.sidebar {
    width: $sidebar-width;
    background-color: $secondary;
    transition: 0.4s all ease;

    @include media-breakpoint-down(md) {
        position: absolute;
        z-index: 99;
        width: 50%;
    }

    @media (max-width: 320px) { 
        position: absolute;
        z-index: 99;
        width: 100%;
     }

    .user-email {
        font-size: 0.7rem;
    }
}

.profile{
    border-bottom: $border-size solid $white;
}

.close{
    top: 25px;
    right: 30px;
    z-index: 99;
    display: none;
      @include media-breakpoint-down(md) {
        display: block;
    }
}

.nav {
    &-link {
        &.active {
            background-color: $primary;
        }

        &:hover {
            background-color: $primary;
            font-weight: bold;
        }
    }
}

#menu:checked {
    ~.sidebar {
        width: 50px;
        @include media-breakpoint-down(md) {
           width: 0px;           
        }
    }
}


#users {
    ~.sub-items {
        height: 0px;
        transition: 0.4s all ease-in-out;
    }
}