.table-wrapper {
    max-height: $table-height;
    display: none;

    @include media-breakpoint-up(sm){
        display: flex;
        flex-direction: column;
    }

    .thead {
        .table-header {
            position: sticky;
            top: -1px;
            background-color: $white;
        }
    }
}