.table-wrapper {
    width: 100%;
    max-height: 416px;

    .thead {
        .table-header {
            position: sticky;
            top: -1px;
            background-color: white;
        }
    }
}

// .title, .description{
//     width: 200px;
// }
