.table-wrapper {
    max-height: $table-height;

    .thead {
        .table-header {
            position: sticky;
            top: -1px;
            background-color: $white;
        }
    }
}

// .table {
//     table-layout: fixed;
// }
.table thead tr th:not(.project) {
    width: 150px;
}