<aside class="sidebar h-100">
  <header class="d-flex text-center fw-bold">
    <div class="flex-grow-1 user-header text-white p-3">
      <span>ADMIN</span>
    </div>
  </header>
  <div class="d-flex m-3 text-white">
    <span class="icon-profile d-flex align-items-center pe-3"></span>
    <div class="d-flex flex-column">
      <span>Admin Admin</span>
      <span class="user-email">admin123@gmail.com</span>
    </div>
  </div>
  <nav class="nav overflow-vertical d-block">
    <ul class="ps-0">
      <li class="pb-3 nav-item">
        <a routerLink="" routerLinkActive="active" class="nav-link d-flex text-decoration-none text-white ps-4">
          <span class="icon-home pe-3 d-flex align-items-center"></span>
          <span>Dashboard</span>
        </a>
      </li>

      <li class="pb-3 nav-item">
        <a routerLink="" routerLinkActive="active" class="nav-link d-flex text-decoration-none text-white ps-4">
          <span class="icon-project pe-3 d-flex align-items-center"></span>
          <span>Project</span>
        </a>
      </li>

      <li class="pb-3 nav-item">
        <a routerLink="" routerLinkActive="active" class="nav-link d-flex text-decoration-none text-white ps-4">
          <span class="icon-tasks pe-3 d-flex align-items-center"></span>
          <span>Tasks</span>
        </a>
      </li>

      <li class="pb-3 nav-item">
        <a routerLink="" routerLinkActive="active" class="nav-link d-flex text-decoration-none text-white ps-4">
          <span class="icon-users pe-3  d-flex align-items-center"></span>
          <span>Users</span>
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="" routerLinkActive="active" class="nav-link d-flex text-decoration-none text-white ps-4">
          <span class="icon-logout pe-3  d-flex align-items-center"></span>
          <span>Logout</span>
        </a>
      </li>
    </ul>
  </nav>
</aside>
