<div class="wrapper">
    <!-- Header -->
    <h3 class="border-bottom border-dark pb-2">View Project</h3>

    <!-- Start: Project View -->
    <section class="border rounded bg-white p-3 mt-4">
        <div class="d-flex">
            <section class="col-6 pe-3 border-end">
                <div class="pb-3 d-flex flex-column">
                    <label for="name" class="fw-bold">Project Name</label>
                    <span>{{projectView.name}}</span>
                </div>

                <div class="col-12 d-flex flex-column">
                    <label for="description" class="fw-bold">Description</label>
                    <span>{{projectView.description}}</span>
                </div>
            </section>

            <section class="col-6 ps-3">
                <div class="pb-3 d-flex flex-column">
                    <label for="startDate" class="fw-bold">Start Date</label>
                    <span>{{projectView.startDate | date:'MMMM d, y'}}</span>
                </div>
                <div class="pb-3 d-flex flex-column">
                    <label for="endDate" class="fw-bold">End Date</label>
                    <span>{{projectView.endDate | date:'MMMM d, y'}}</span>
                </div>

                <div class="pb-3 d-flex flex-column">
                    <label for="status" class="fw-bold">Status</label>
                    <div>
                        <span class="badge text-white" [ngClass]="{'bg-primary':projectView.status==='Started',
                   'bg-info':projectView.status==='In Progress',
                   'bg-success':projectView.status==='Done'}">{{projectView.status}}</span>
                    </div>
                </div>

                <div class="pb-3 d-flex flex-column">
                    <label for="teamMembers" class="fw-bold">Project Manager</label>
                    <span>{{projectView.projectManager}}</span>
                </div>
            </section>
        </div>
    </section>
    <!-- End: Project View -->
</div>